
body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto', sans-serif;
    align-content: center;
    background-color: #DFE3EE;
}

ul{
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;

}
.container{
    border-bottom: 3px solid #A7B0C7;
    
}
/** styling the image **/

.logo{
    position: absolute;
}
/** end here **/

li a{
    display: block;
    color: black;
    text-align: right; 
    text-decoration: none;
    padding: 14px 16px;
}
.dropdown-content{
    padding: 0px;
    margin: 0px;
}

li a:hover, .dropdown:hover .dropbtn{
    background-color: #00BE7E;
}
li .dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #195EF7;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropbtn{
    background-color: white;
    color: black;
    padding: 14px 16px;
    border: none;
    cursor: pointer;
    margin-bottom: 0px;
    margin-top: 0px;

}
.home{
    margin-left: 200px;
    position: absolute;
}

.search--engines {
    display: flex;
    padding: 8px;
    margin-right: 200px;
    justify-content: space-around;
    margin-left: 50px;
    margin-top: 150px;
}
select {
    padding: 5px;
    padding-right: 40px;
    width: 150px;
    height: 40px;
    border-radius: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);   
    color: rgba(46, 42, 42, 0.5);
    font-size: 20px;
    border: 3px solid #DFE3EE;
}
.s--icon {
    height: 13px;
    padding-left: 40px;
    padding-top: 10px;
    
}
.input {
    padding-left: 100px;
}
.designer {
    display: inline;
    padding: 5px;
    padding-right: 40px;
    padding-left: 40px;
    width: 150px;
    height: 20px;
    border-radius: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);   
    color: rgba(46, 42, 42, 0.5);
    font-size: 20px;
    border: 3px solid #DFE3EE;
    background-image: url(../Image/search\ icon.png);
    background-repeat: no-repeat;
    background-position: right;
}
background-image:hover {
    background-color: #FFFFFF;  
}
select:hover, input:hover {
    border-color: rgb(145, 145, 248);
}
select::placeholder {
    color: blue;
}
h3 {
    letter-spacing: 0.0125cm;
    align-items: center;
    font-size: 24px;
    display: inline-flex;
    justify-content: space-between;
    margin-right: 52px;
    text-align: center;
}
button.apply {
    background: #00be7e;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    color: white;
    font-size: 14px;
    letter-spacing: -0.015cm;
    text-align: center;
    padding: 8px; 
    margin-top: 40px;
    margin-left: 40px;
}
button.contact {
    border: 1px solid #00be7e;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    color: #00be7e;
    font-size: 14px;
    letter-spacing: -0.015cm;
    text-align: center;
    padding: 8px; 
    font-weight: bold;
    margin-top: 40px;
    margin-left: 40px;
}
button:hover {
    background-color: cyan;
}
h3:hover {
    text-decoration: underline;
}

.fulltime {
    text-align: center;
    color: #00BE7E;
    background: rgba(0, 190, 126, 0.3);
    border-radius: 40px;
    margin-left: 10px;
    padding: 0;
    width: 100px;
}
.intermediate {
    text-align: center;
    color: #C580E0;
    border-radius: 40px;
    background: rgba(240, 220, 248, 0.3);
    padding: 0;
    width: 100px;
}
.remote {
    text-align: center;
    color: #ff740f;
    border-radius: 40px;
    background: rgba(255, 185, 5, 0.3);
    padding: 0;
    width: 100px;
}
.intern {
    text-align: center;
    color: #FF0707;
    border-radius: 40px;
    background:  rgba(252, 9, 24, 0.5);
    margin-left: 15px;
    padding: 0;
    width: 100px;
}
.beginer {
    text-align: center;
    color: #0E2A66;
    border-radius: 40px;
    background:  rgba(24, 160, 251, 0.5);
    padding: 0;
    width: 80px;
}
button {
    margin-bottom: 40px;
    margin-top: 40px;
}
.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:space-between;
    margin-left: 180px;
    margin-right: 180px;
    
}
.flexbox1, .flexbox2, .flexbox3, .flexbox4, .flexbox5, .flexbox6, .flexbox7, .flexbox8, .flexbox9, .flexbox10, .flexbox11,.flexbox12 {
    background-color: rgba(243, 250, 245, 0.29);
    height: 395px;
    width: 320px;
    flex-shrink: 0;
    margin-bottom: 40px;
    margin-left: 30px;
    margin-top: 40px;
    border-radius: 20px;
    padding: 20px;
    


}
span {
    font-size: 20px;
}
img {
    display: block; 
}
.s--icon {
    display: inline-block;
}
.mail, .vector {
    display: inline-block;
}
h1 {
    display: inline-block;
    justify-content: space-between;
    margin-right: 500px;
    margin-left: 200px;
    margin-top: 150px;
}
h1 {
    font-size: 50px;
    text-shadow: 8px lightskyblue;
}
.sort {
    border-width: 100px;
    justify-content: right;
    display: flex;
    margin-left: 100px;
}
b {
    color: mediumblue;
}

